.topnav {
  overflow: hidden;
  background-color: darkred;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 12px;
  text-decoration: none;
 
}
